//colors//
$orange: #E8663C;
$pink: #F2AE9C;
$gray: #BCBCBC;

//tops//
$top: 2%;
$top-5: 5%;
$top-10: 10%;
$top-3: 3%;


//Width//
$width: 100%;
$width-5: 5%;
$width-80: 80%;

.top-5{
	margin-top: $top-5;
}
.top-3{
	margin-top: $top-3;
}
